<div 
  data-controller="modal"
  id="modal-wrapper"
  class="hidden relative z-10" 
  aria-labelledby="modal-title" 
  role="dialog" 
  aria-modal="true"
>
  <div class="hidden" id="modal-trigger" data-action="click->modal#showModal"></div>
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div 
    class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    id="modal-backdrop" 
    data-transition-enter="ease-out duration-300"
    data-transition-enter-start="opacity-0"
    data-transition-enter-end="opacity-100"
    data-transition-leave="transition ease-in duration-75"
    data-transition-leave-start="opacity-100"
    data-transition-leave-end="opacity-0"
  ></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div 
        class="overflow-hidden rounded-lg bg-white shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        id="modal-panel" 
        data-transition-enter="ease-out duration-300"
        data-transition-enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        data-transition-enter-end="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave="ease-in duration-200"
        data-transition-leave-start="opacity-100 translate-y-0 sm:scale-100"
        data-transition-leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      >
        <div class="flex justify-between items-center p-4 w-full max-w-md h-full md:h-auto">
          <h3 class="text-md text-center font-medium leading-6 text-gray-900" id="modal-title">Sign In or Sign Up</h3>
          <button id="modal-close" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="13" fill="gray" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <hr/>
        <div class="p-4 sm:flex">
          <h4 class="text-lg leading-6 text-gray-900">Wecome to Ecommerce Shop</h4>
        </div>
      </div>
    </div>
  </div>
</div>