<main class="flex-1">
  <%= home_main_section_component %>
  <%= home_project_section_component projects: @projects %>
  <%= home_service_section_component %>
  <%= blog_section_component blogs: @blogs %>
</main>

