<main class="flex-1">
  <%= render "components/molecules/home_section_one" %>
  <%= render "components/molecules/home_section_two" %>
  <%= render "components/molecules/home_section_three" %>
</main>

