<div>
  <section class="h-screen">
    <div class="flex space-x-14 container px-2 pt-20 items-center justify-center h-full text-secondary font-bold">
      <div class="grid">
        <span class="text-5xl">Hi I'm</span>
        <span class="uppercase text-[7rem] -mt-7">Felix A.</span>
      </div>
      <div class="bg-secondary w-1/2 h-4/5 rounded-xl"></div>
    </div>
  </section>
</div>
