<div>
  <section class="h-screen">
    <div class="container px-2 pt-20 flex items-center justify-center h-full">
      <h1 class="text-secondary uppercase font-bold text-[7rem]">John Doe</h1>
    </div>
  </section>
</div>
