<main class="flex-1 container my-4">
  <h1 class="font-medium primary-text-color text-3xl">Editing project</h1>

  <%= render "form", project: @project %>

  <%= link_to "Show this project", @project, class: "ml-2 rounded-lg py-2 px-5 bg-gray-100 dark:bg-dark dark:outline dark:outline-2 dark:text-white inline-block font-medium" %>
  <%= link_to "Back to projects", projects_path, class: "ml-2 rounded-lg py-2 px-5 bg-gray-100 dark:bg-dark dark:outline dark:outline-2 dark:text-white inline-block font-medium" %>
</main>
