<main class="flex-1 container my-6">
  <% if user_signed_in? %>
    <%= render(Atoms::ButtonComponent.new(type: "create", link: new_project_path(@project), text: "Create new project", additionalClass: "mb-8")) %>
  <% end %>
  <%= turbo_frame_tag "page_handler" %>
  <turbo-frame id="projects" class= "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">
    <%= project_list projects: @projects %>
  </turbo-frame>
  <%= render "pager", pagy: @pagy %>
</main>