<main class="flex-1">
  <% if user_signed_in? %>
    <%= button_component type: "create", link: new_project_path(@project), text: "Create new project", additionalClass: "mb-8" %>
  <% end %>
  <div class="grid place-items-center h-72 md:h-80 bg-gray-100 dark:bg-gray-700 transition-colors duration-200">
    <div class="max-w-[750px] px-4 mx-auto text-center space-y-4">
      <h2 class="primary-text-color text-4xl md:text-5xl font-medium">Building awesome projects for awesome people</h2>
      <div class="text-main font-medium text-lg">Some projects I worked on</div>
    </div>
  </div>
  <%= turbo_frame_tag "page_handler" %>
  <div id="projects" class= "container py-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
    <%= project_list projects: @projects %>
  </div>
  <%= render "pager", pagy: @pagy %>
</main>