<main class="flex-1 container mt-6 mb-4">
  <% if user_signed_in? %>
    <a href="<%= new_project_path(@project) %>" class="flex gap-2 w-fit items-center mb-5 rounded-lg py-2 text-white px-5 bg-main inline-block font-medium">
      Create new project
      <%= render "components/atoms/plus_icon", classProps: "w-4 h-4" %>
    </a>
  <% end %>
  <%= turbo_frame_tag "projects" do %>
    <%if @projects.present? %>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10">
          <% @projects.each do |project| %>
            <%= render "components/atoms/project_card", project: project %>
          <% end %>
      </div>
    <% else %>
      <div class="h-60 grid place-items-center">
        <h2 class="text-4xl primary-text-color font-medium">No data found</h2>
      </div>
    <% end %>
  <% end %>
</main>

