<div class="flex flex-col space-y-4 lg:space-y-0 lg:flex-row justify-between items-start mb-12">
        <div class="basis-2/4">
        <span class="text-xs uppercase text-main font-semibold mb-2 block">
            <%= title %>              
        </span>
        <h2 class="text-4xl font-medium text-primary">
            <%= highlight %>               
        </h2>
        </div>
        <div class="text-gray-400 hover:text-main lg:basis-2/4 flex justify-end items-center space-x-1 cursor-pointer">
            <a class="text-xs uppercase font-semibold">
                <%= redirect_title %>     
            </a>
            <%= render "components/atoms/arow_icon" %>
        </div>
    </div>