<article class="bg-white dark:bg-dark transition-colors duration-200 rounded-[2rem] p-6">
    <div class="flex justify-between flex-col mb-5 sm:mb-0 sm:flex-row">
        <div class="flex items-center space-x-3 mb-5 justify-center sm:justify-start">
            <div class="flex -space-x-4">
                <a href="" class="block relative h-[40px] w-[40px]">
                <img src="https://avatars.githubusercontent.com/u/73794251?v=4" class="rounded-full">
                </a>
            </div>
            <div class="space-x-1 text-sm text-grey font-medium hidden lg:flex">
                <a href="/" class="text-main hover:underline">Felix Abacajen</a>
            </div>
        </div>
        <div class="flex space-x-2 justify-center sm:justify-end"> 
            <%# somthing here %>
        </div>
    </div>
        <a href="https://github.com/felix1251" class="mb-5 relative overflow-hidden h-[300px] sm:h-[200px] md:h-[280px] lg:h-[360px] w-full block rounded-[32px]">
            <img src="https://avatars.githubusercontent.com/u/73794251?v=4" class="hover:scale-[1.08] transition duration-300 ease-in-out absolute object-cover object-top w-full h-full" alt="" loading="lazy">
        </a>
        <a class="mb-5" href="/">
            <h3 class="mb-3 text-[23px] primary-text-color font-medium leading-7 line-clamp-2">
                Sample Sample
            </h3>
        </a>
        <div class="leading-[21px] text-gray-500 dark:text-gray-400 transition-colors duration-200 text-sm line-clamp-2">
            text-grey text-sm font-medium line-clamp-2  text-grey text-sm font-medium line-clamp-2  text-grey text-sm font-medium line-clamp-2 
        </div>
        <hr class="border-1 dark:border-gray-700 my-4">
        <div class="flex justify-between items-center text-xs">
            <a href="/" class="uppercase font-medium space-medium primary-text-color">
                Read more
            </a>
            <span class="text-gray-500 dark:text-gray-400">July 29, 2023 </span>
        </div>
</article>