<button data-controller="navbutton" class="block md:hidden relative group">
    <div class="relative p-2 flex overflow-hidden items-center justify-center transform transition-all duration-200">
        <div class="flex flex-col justify-between w-[26px] h-[26px] transform transition-all duration-300 origin-center overflow-hidden">
            <div data-navbutton-target="animate" class="dark:bg-white bg-dark h-[3px] w-10 transform transition-all duration-200 origin-left"></div>
            <div data-navbutton-target="animate" class="dark:bg-white bg-dark h-[3px] w-10 rounded transform transition-all duration-200"></div>
            <div data-navbutton-target="animate" class="dark:bg-white bg-dark h-[3px] w-10 transform transition-all duration-200 origin-left"></div>
        </div>
    </div>
</button>