<div class="p-6 rounded-lg bg-gray-100 dark:bg-gray-700 hover:sm:shadow-md transform transition duration-100 hover:sm:scale-110">
    <%= @icon %>
    <a href="#">
        <h5 class="mb-2 text-xl font-medium tracking-tight primary-text-color"><%= @service %></h5>
    </a>
    <p class="leading-[21px] text-sm line-clamp-6 text-ellipsis text-gray-500 dark:text-gray-400">
        <%= @description %>
    </p>
</div>