<section class="flex flex-col justify-center items-center h-[300px]" data-home-target="error404section">
    <h2 class="font-bold text-[6rem] primary-text-color -mb-4">
        404
    </h2>
    <span class="text-main text-4xl font-medium">page not found</span>
</section>
