<section class="container flex flex-col justify-center items-center h-[300px]" data-home-target="error404section">
    <h2 class="font-bold text-7xl primary-text-color">
        500
    </h2>
    <span class="text-gray-400 text-4xl font-medium">internal server error</span>
</section>