<section class="container py-16" data-home-target="homeSectionTwo">
     <%= render "components/atoms/section_header", 
        title: "Some projects I worked on" ,
        highlight: "Building projects that change people's lives.",
        redirect_title: "Browse more"
    %>
</section>