<section class="container grid grid-cols-1 md:grid-cols-5 h-[700px] overflow-hidden" data-home-target="homeFirstSection">
    <div class="md:col-span-3 flex items-center h-[700px]">
        <div class="max-w-[600px] mr-14 space-y-5">
            <h1 class="font-medium text-6xl text-primary">
            I'm a <span class="text-main">Fullstack Developer</span> designing and building products.
            </h1>
            <p class="text-gray-400 font-medium">
                Now solving problems in the Information Technology scene.
            </p>
        </div>
    </div>
    <div class="col-span-2 hidden md:block relative bg-gray-200">
       
    </div>
</section>