<section class="container py-16" data-home-target="homeSectionThree">
    <%= render "components/atoms/section_header", 
        title: "Services Offered" ,
        highlight: "Let's collaborate on your ideas, projects, and business needs",
        has_more: true,
        redirect_title: "Browse more"
    %>
</section>