<section class="container my-12" data-home-target="homeSectionTwo">
    <%= render "components/atoms/section_header", 
        title: "Some projects I worked on" ,
        highlight: "Building awesome projects for awesome people",
        has_more: true,
        url: "/projects",
        redirect_title: "Browse more"
    %>
    <%= turbo_frame_tag "projects", class: "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10", src: "/projects?turbo_stream=none" do %>
        <% (1..4).each do %>
            <%= project_card_component %>
        <% end %>
    <% end %>
</section>