<section class="container py-16">
    <div class="flex justify-between">
        <div class="basis-2/4">
        <span class="text-xs uppercase text-gray-400 font-semibold mb-2 block">
            Some projects I worked on.               
        </span>
        <h2 class="text-4xl font-medium text-primary">
            Building projects that change people's lives.            
        </h2>
        </div>
        <div class="lg:basis-2/4 flex justify-end items-center space-x-1 cursor-pointer">
            <a class="text-xs uppercase text-gray-400 font-semibold">Browse more</a>
            <%= render "components/atoms/arow_icon" %>
        </div>
    </div>
</section>