<section class="bg-gray-100 dark:bg-gray-700 transition-colors duration-200 py-12 mt-12" data-home-target="homeSectionTwo">
    <div class="container">
        <%= section_header_component title: "Latest Stories and articles",
            highlight: "Thoughts on work, life, and the universe, but mostly just programming",
            has_more: true,
            url: "/blogs",
            redirect_title: "Browse more"
        %>
        <div id="blogs" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
            <% @blogs.each do | blog| %>
                <%= blog_card_component blog: blog %>
            <% end %>
        </div>
    </div>
</section>