<section class="flex flex-col justify-center items-center h-[350px]">
    <h2 class="font-bold text-[6rem] primary-text-color -mb-4">
        500
    </h2>
    <span class="text-main text-4xl font-medium">internal server error</span>
</section>
