<section class="container my-12" data-home-target="homeSectionTwo">
    <%= section_header_component title: "Some projects I worked on",
        highlight: "Building awesome projects for awesome people",
        has_more: true,
        url: "/projects",
        redirect_title: "Browse more"
    %>
    
</section>