<nav class="w-full bg-white border-b" data-controller="navbar">
  <div class="container flex h-[5rem] items-center justify-between">
    <h3 class="font-medium text-3xl uppercase">FA</h3>
    <div class="sm:ml-6">
      <div class="space-x-6 uppercase font-medium underline-offset-8 text-sm">
        <a class="underline decoration-2 cursor-pointer" aria-current="page">Portfolio</a>
        <a class="hover:underline decoration-2 cursor-pointer">Blog</a>
      </div>
    </div>
  </div>
</nav>