<nav class="fixed top-0 z-50 w-full text-secondary bg-gray-800" data-controller="navbar">
  <div id="nav-background" class="absolute h-full w-full"></div>
  <div class="mx-auto px-2 max-w-7xl">
    <div class="relative flex h-16 items-center justify-between">
      <h3 class="font-bold text-4xl md:text-[2.3rem]">FA</h3>
      <div class="hidden sm:ml-6 sm:block">
        <div class="space-x-6 uppercase font-medium underline-offset-8 text-[16px]">
          <a class="underline decoration-2 cursor-pointer" aria-current="page">Portfolio</a>
          <a class="hover:underline decoration-2 cursor-pointer">Blog</a>
        </div>
      </div>
    </div>
  </div>
</nav>