<nav class="fixed top-0 z-50 w-full" data-controller="navbar">
  <div class="mx-auto px-2 max-w-7xl">
    <div class="relative flex h-16 items-center justify-between">
     <div class="w-10 h-10 rounded-full bg-secondary"></div>
      <div class="hidden sm:ml-6 sm:block">
        <div class="space-x-6 uppercase text-secondary font-medium underline-offset-8 text-[16px]">
          <a class="underline decoration-2 cursor-pointer" aria-current="page">Portfolio</a>
          <a class="hover:underline decoration-2 cursor-pointer">Blog</a>
        </div>
      </div>
    </div>
  </div>
</nav>